@model SistemaVeterinaria.Models.tbEmpleado

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Estas seguro que quieres eliminar esto?</h3>
<div>
    <h4>Eliminar Empleado</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre del Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOMBRE)
        </dd>

        <dt>
            @Html.DisplayName("Apellido del Empleado")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.APELLIDO)
        </dd>

        <dt>
            @Html.DisplayName("Direccion")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DIRECCION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DNI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DNI)
        </dd>

        <dt>
            @Html.DisplayName("Fecha de ingreso")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_ing)
        </dd>

        <dt>
            @Html.DisplayName("Nombre del puesto de trabajo")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbPuesto.nombre_puesto)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
