@model SistemaVeterinaria.Models.tbusuario

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>tbusuario</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.contrasena)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.contrasena)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TEmpleados.NOMBRE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TEmpleados.NOMBRE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.cod_user }) |
    @Html.ActionLink("Back to List", "Index")
</p>
