@model IEnumerable<SistemaVeterinaria.Models.Tbpaciente>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fecha_nac)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbDUENO.nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbEmpleado.NOMBRE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbespecie.nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_nac)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbDUENO.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbEmpleado.NOMBRE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbespecie.nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.cod_paciente }) |
            @Html.ActionLink("Details", "Details", new { id=item.cod_paciente }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.cod_paciente })
        </td>
    </tr>
}

</table>
