@model SistemaVeterinaria.Models.tbespecie

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Estas seguro que quieres eliminar esto?</h3>
<div>
    <h4>Especie</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Nombre Especie
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            Nombre Familia
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbfamilia.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class=" btn btn-danger mr-1" /> |
            @Html.ActionLink("Regresar", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>
