@model SistemaVeterinaria.Models.tbCita

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>¿Estas seguro que quieres eliminar esto?</h3>
<div>
    <h4>Cita</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Fecha Cita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha_cita)
        </dd>

        <dt>
            Hora Cita
        </dt>

        <dd>
            @Html.DisplayFor(model => model.hora_cita)
        </dd>

        <dt>
            Descripcion
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrip_cita)
        </dd>

        <dt>
            Fecha
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fecha)
        </dd>

        <dt>
            Nombre Empleado
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tbEmpleado.NOMBRE)
        </dd>

        <dt>
            Nombre Paciente
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tbpaciente.nombre)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger mr-1" /> |
            @Html.ActionLink("Regresar", "Index", null, new { @class="btn btn-primary ml-1" })
        </div>
    }
</div>
